body {
background-color: #FFCDB2;
}
h1 {
    font-family: 'Bacasime Antique', serif;
    color: #E5989B;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    }



 img {
      display: block;
      margin: 0 auto;
      width: 40%;
      width:"500";
      height:"400";
      border: 16px solid #d8e2dc;
      
    }

    div {
     text-align: center;
     font-family: 'Bacasime Antique', serif;
    color: #E5989B;
    font-weight: bold;
    font-size: 2em;
    
}

div a:visited {
color:#A020F0;
}

ul {
  font-family: 'Bacasime Antique', serif;
  color: #B5838D;
 
  
}
