body {
    background-color: plum;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    color: chartreuse;
    text-align: center;
}
h2 {
    font-family: 'Courier New', Courier, monospace;
    color: chartreuse;
    text-align: center;
}
p {
    font-family: 'Courier New', Courier, monospace;
    color: chartreuse;
    text-align: center;
}
ul {
    font-family: 'Courier New', Courier, monospace;
    color: chartreuse;
   
}
h3 {
    font-family: 'Courier New', Courier, monospace;
    color: chartreuse;
    text-align: center;
}
p1 {
    font-family: 'Courier New', Courier, monospace;
    color: chartreuse;
    text-align: center;
}
a {
    font-family: 'Courier New', Courier, monospace;
    color: chartreuse;
    text-align: center;
}