body {
    background-color: #FFCDB2;
}
h1 {
    font-family: 'Bacasime Antique', serif;
    color: #E5989B;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}
h2 {
    font-family: 'Bacasime Antique', serif;
    color: #E5989B;
    text-align: center;
}
p {
    font-family: 'Bacasime Antique', serif;
    color: #B5838D;
    text-align: center;
}
ul {
    font-family: 'Bacasime Antique', serif;
    color: #B5838D;
    
   
}
h3 {
    font-family: 'Bacasime Antique', serif;
    color: #E5989B;
    text-align: center;
}
p1 {
    font-family: 'Bacasime Antique', serif;
    color: #B5838D;
    text-align: center;
}
a {
    font-family: 'Bacasime Antique', serif;
    color: #B5838D;
    text-align: center;
}